@model AV2_WyllerMachado.Models.Cliente

@{
    var viewTitle = Model.Id == 0 ? "Novo Cliente" : "Editar Cliente";
    ViewBag.Title = viewTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@viewTitle</h2>

@using (Html.BeginForm("Salvar", "Clientes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cpf)
        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Endereco)
        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Telefone)
        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Salvar</button>
    
    if (Model.Id != 0)
    {
        @Html.ActionLink("Excluir", "Excluir", "Clientes", new { id = Model.Id }, new {@class = "btn btn-danger"});
    }
}